# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# ModelSIM and Quartus files
Practica2/MIPSQuartusII/*
Practica2/MIPSModelsim/BasicMIPSProcessorM/work
Practica2/MIPSModelsim/BasicMIPSProcessorM/ALUResult.dat
Practica2/MIPSModelsim/BasicMIPSProcessorM/data.dat
Practica2/MIPSModelsim/BasicMIPSProcessorM/wave.do
Practica2/MIPSModelsim/BasicMIPSProcessorM/text.dat
*.cr.mti
*.mpf
*.vcd
*.wlf
wlft*
*.v.bak