# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# ModelSIM and Quartus files
Practica2/MIPSQuartusII/*
Practica2/MIPSModelsim/work/*
Practica2/MIPSModelsim/ALUResult.dat
Practica2/MIPSModelsim/wave.do
Practica2/MIPSModelsim/sim.do
Practica3/MIPSQuartusII/*
Practica3/MIPSModelsim/work/*
Practica3/MIPSModelsim/ALUResult.dat
Practica3/MIPSModelsim/wave.do
Practica3/MIPSModelsim/sim.do
*.cr.mti
*.mpf
*.vcd
*.wlf
*.ipinfo
wlft*
*.docx
*.tmp
*.v.bak
*.do.bak